* {
  box-sizing: border-box;
  /* border: black solid 2px; */
  margin: 0px;
  padding: 0px;
}

/* NAVBAR STYLES */

.navbar-brand {
  color: orange;
}

.navbar-collapse a {
  color: orange;
}

.navbar-collapse a:hover {
  color: rgb(183, 128, 26);
}

/* JUMBOTRON STYLES */

.jumbotron {
  background-image: url("silly_pumpkin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.jumbotron h1 {
  color: white;
  text-align: center;
}

.jumbotron .small-j {
  height: 10vh;
}

/* OWNER PANEL STYLES */

#owner-panel {
  background-image: url("leaves.jpg");
  filter: blur(2px);
  -webkit-filter: blur(8px);
  height: 175vh;
}

.owner-card {
  position: absolute;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* PUMPKIN CARDS STYLES*/

.pumpkin-card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pumpkin-card-group .card {
  margin: 2rem;
}

/* FOOTER STYLES */

.footer {
  background-color: #333;
  display: flex;
  color: orange;
  justify-content: center;
  padding: 1.5rem;
}