body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.container {
    display: flex;
    flex: 1;
}

.settings {
    width: 40%;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.output {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
}

.output canvas {
    /* background-color: lightgray; */
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .settings {
        width: 100%;
        height: 40%;
    }

    .output {
        width: 100%;
        height: 60%;
    }
}
