html {
    background-color: #5C1009;
    margin: 0; 
    height: 100%; 
}
@font-face {
    font-family: freddy;
    src: url(./hackMedia/Nightmare5-KVxl.ttf);
}
@font-face {
    font-family: livingHell;
    src: url(./hackMedia/Living\ Hell.ttf);
}
.n-font {
    font-family: freddy;
}
.h-font {
    font-family: livingHell;
}
.p-text {
    color: #BF200E;
    font-size: 1em;
}
.exp-font {
    font-size: 2em;
    color: #BF200E;
}
.list-font {
    color: #BF200E;
}
.h2-font {
    color: #BF200E;
}
#h2-1, #h2-2 {
    display: inline;
} 
.grid-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.grid-1 {
    grid-column: 1 / 2;
    grid-row: 1;
}
.grid-2 {
    grid-column: 2 / 3;
    grid-row: 1;
}
.grid-3 {
    grid-column: 1 / 2;
    grid-row: 2;
}
.grid-4 {
    grid-column: 2 / 3;
    grid-row: 2;
}
.container {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}
.nav-bar {
    padding: 5px;
    padding-top: 100px;
    float: left; 
    width: 200px;
    text-align: left;
    font-size: 20px;
    text-align: center;
    position: fixed;
}
.button {
    font-family: freddy;
    text-decoration: none;
    border: 5px solid #BF200E;
    border-radius: 20px;
    font-size: 2.5em;
    width: 100px;
    color: #BF200E;
    padding: 5px;
    display: block;
    background-color: #0d0208;
}
.content {
    margin-left: 220px;
    margin-right: 220px;
    float: left;
    border: 5px solid #BF200E;
    background-color: #0d0208;
    width: 60%;
    padding: 20px;

}
.header-1 {
    font-size: 5em;
    text-align: center;
    font-family: freddy;
    margin-left: auto;
    margin-right: auto;
    color: #FE9B13;
    margin-top: 10px;
    margin-bottom: 20px;
}
.side-bar {
    padding: 5px;
    border: 5px solid #BF200E;
    background-color: #0d0208;
    float: right;
    width: 200px;
    text-align: left;
    margin-top: -600px;
}
audio {
    width: 100%;
}
.header-2 {
    color: #FE9B13;
    font-size: 2em;
    font-family: livingHell;
}
#forest {
    width: 100px;
    height: 100px;
}
.footer-style {
    width: 40%;
    height: 100px;
    background-image: url(./hackMedia/spooky_forest.jpg);
    background-size: contain;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%; 
    border: #BF200E solid 5px;
}
.header-3 {
    font-family: freddy;
    color: #FA4113;
    font-size: 2em;
    float: right;
    margin-right: 60px;
}
.header-lists {
    color: #BF200E;
    font-size: 1.5em;
}
#freddy {
    width: 100px;
    height: 100px;
    animation: spinner 2s infinite linear;
    float: left;
    margin-left: 60px;
}
@keyframes spinner {
    0% {
        transform: perspective(400px) scaleX(1);
    }
    100% {
        transform: perspective(400px) scaleX(-1);
    }
@media only screen and (max-width: 1024px) {
    .content {
        margin-right: 0;
    }
    .side-bar {
        float: right;
        margin-right: 20px;
        width: 70%;
        text-align: center;
    }
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .content {
        margin-left: 0px;
    }
    .nav-bar {
        float: none;
        width: auto;
        position: static;
        text-align: center;
    }
    #button:hover {
        text-align: center;
    }
    .side-bar {
        float: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }